/*
 * global
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
 * header
*/

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #51C4D3;
    z-index: 30;
}

#header_wrapper {
    text-align: center;
}

#header_brand {
    line-height: 50px;
    color: #fff;
}

#brand_title {
    font-size: 1.8em;
    font-weight: bold;
}

/*
 * main
*/

main {
    width: 60%;
    margin: auto;
    height: 95vh;
}

/*
 * jumbotron
*/

#box-hero {
    margin-top: 70px;
    text-align: center;
}

#img-owner {
    border-radius: 50%;
    box-shadow:5px 5px 8px #888;
}

#title-owner {
    margin-top: 5px;
    margin-bottom: 5px;
    color: tomato
}

#message-owner {
    font-style: italic;
    color: grey;
    font-size: 12pt;
    margin-bottom: 10px;
}

.input-group {
    width: 45vw;
    display: table;
    border-collapse: collapse;
    margin: auto;
}

.input-group > div {
    display: table-cell;
    vertical-align: middle;
}

.input-group-icon {
    padding: 3px 3px 0 3px;
}

.input-group-area {
    width:100%;
}

#hero-search {
    display: block;
    width: 100%;
    padding: 8px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #51C4D3;
    text-align: center;
}

#img-add-book {
    width: 40px;
}

#btn-add-book {
    padding: 0;
    border: none;
    background: none;
}

#btn-add-book:hover {
    cursor: pointer;
}

/*
 * bookshelf
*/

#box-shelf {
    text-align:center;
    margin-top: 10px;
}

.glass-shelf {
    margin-top: -30px;
}

.title-shelf {
    font-size: 13pt;
    margin:auto;
    margin-bottom: 5px;
    width: 180px;
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.img-shelf {
    width: 85%;
}

.shelf {
    width: 70%;
    height: 135px;
    margin:auto;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 5px;
}

.inner-shelf {
    overflow-x: scroll;
    height: 125%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    gap: 20px;
}

.wrap-book {
    display: grid;
    grid-template-columns: 10px 80px;
    width: 90px;
    height: 115px;
    background-color:tomato;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #888;
    margin: auto;
}

.book-edge {
    border-right: 1px solid grey;
    background-color: grey;
    border-radius: 5px 0 0 5px;
}

.book-cover {
    padding: 10px;
    color: white;
}

.book-title {
    margin-bottom: 15px;
}

.book-author {
    font-size: 9pt;
}

/*
 * footer
*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #51C4D3;
    text-align: center;
    padding: 12px;
    color: white;
    font-size: 16pt;
}

/*
 * toast-message
*/

#toast-message {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 30;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 15pt;
    opacity: 0;
    transition: opacity 0.8s;
}

/*
 * box-modal
*/

#box-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: grey;
    opacity: 0.8;
    z-index: 20;
    display: none;
}